

{% extends 'base.html' %}
{% load static %}

{% block title %}
<title> Todo List Manager - Taskmate </title>
{% endblock title %}

{% block content %}

    <div class="container">
     </br>

{% if messages %}
   {% for message in messages %}
   </br>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong> {{message}} </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>
   </br>
   {% endfor %}
{% endif %}
     <form method = "POST">
         {% csrf_token %}
        <div class="form-group">           
            <input type="text" name="task" class="form-control" placeholder="New Task?">
        </div>
        
        <button type="submit" class="btn btn-success">Add Task</button>
     </form>
        



   </br>
 <table class="table text-center ">
        <thead class="thead-dark">
            <tr class="row">         
                <th class="col-5">Task</th>
                
                <th class="col-4">Change Status</th>
                <th class="col-1">Edit</th>
                <th class="col-2">Delete</th>
            </tr>
        </thead>

      <tbody>
{% if all_tasks %}
   {% for obj in all_tasks %}
      {% if obj.done %}
            <tr class="row">   
                <td class="col-5"><del>{{ obj.task }}</del></td>
                          
                <td class="col-4"><a class="btn btn-outline-danger" href="{% url 'change_status' obj.id %}" role="button">Pending?</a> </td>
                <td class="col-1"><a class="btn btn-light" href="{% url 'edit_task' obj.id %}"><img src = "{% static 'images/edit.png' %}" alt="Edit"/></a></td>
                <td class="col-2"><a class="btn btn-light" href="{% url 'delete_task' obj.id %}"><img src = "{% static 'images/delete.png' %}" alt="Delete"/></a></td>
            </tr>
        {% else %}
       <tr class="row">   
                <td class="col-5">{{ obj.task }}</td>
               
                <td class="col-4"><a class="btn btn-outline-success" href="{% url 'change_status' obj.id %}" role="button">Completed?</a> </td>

                 <td class="col-1"><a class="btn btn-light" href="{% url 'edit_task' obj.id %}"><img src = "{% static 'images/edit.png' %}" alt="Edit"/></a></td>

               <td class="col-2"><a class="btn btn-light" href="{% url 'delete_task' obj.id %}"><img src = "{% static 'images/delete.png' %}" alt="Delete"/></a></td>
         </tr>
         {% endif %}
   {% endfor %}
{% endif %}
        </tbody>
    </table>

 <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-itemd"><a class="page-link" href="?pg=1"><<</a></li>
        {% if all_tasks.has_previous %}
            <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.previous_page_number }}">{{ all_tasks.previous_page_number }}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.number }}">{{ all_tasks.number }}</a></li>
        {% if all_tasks.has_next %}
            <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.next_page_number }}">{{ all_tasks.next_page_number }}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.paginator.num_pages }}">>></a></li>
    </ul>
</nav>

    </div>

{% endblock content%}
