{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block title %}
<title> Logout Successful - Taskmate </title>
{% endblock title %}

{% block content %}




    <div class="container">
        
        <div class = "col-md-10 offset-md-1 ">
                 
                    <center> <p class="h4 text-success mt-3">Logout Successful!</p>  </center>
                    <center> <p class="h5">Thanks for using us. See you soon.</p>  </center>
                   
                  
               </div
    </div>

{% endblock content%}
